.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.self-center {
  align-self: center;
}

.flex-x {
  flex-direction: row;
}

.flex-y {
  flex-direction: column;
}
