@for $i from 0 through 40 {
  // Padding
  .p-#{$i} {
    padding: $spacing-inc * $i;
  }
  .pt-#{$i} {
    padding-top: $spacing-inc * $i;
  }
  .pb-#{$i} {
    padding-bottom: $spacing-inc * $i;
  }
  .pl-#{$i} {
    padding-left: $spacing-inc * $i;
  }
  .pr-#{$i} {
    padding-right: $spacing-inc * $i;
  }
  .px-#{$i} {
    @extend .pr-#{$i}, .pl-#{$i};
  }
  .py-#{$i} {
    @extend .pt-#{$i}, .pb-#{$i};
  }

  // Margin
  .m-#{$i} {
    margin: $spacing-inc * $i;
  }
  .mt-#{$i} {
    margin-top: $spacing-inc * $i;
  }
  .mb-#{$i} {
    margin-bottom: $spacing-inc * $i;
  }
  .ml-#{$i} {
    margin-left: $spacing-inc * $i;
  }
  .mr-#{$i} {
    margin-right: $spacing-inc * $i;
  }
  .mx-#{$i} {
    @extend .mr-#{$i}, .ml-#{$i};
  }
  .my-#{$i} {
    @extend .mt-#{$i}, .mb-#{$i};
  }

  .space-x-#{$i} > * + * {
    margin-left: $spacing-inc * $i;
  }

  .space-y-#{$i} > * + * {
    margin-top: $spacing-inc * $i;
  }

  @if $i >= 12 {
    $i: $i + 1;
  }
}
