@import "~@fider/assets/styles/variables.scss";

.c-toggle {
  .switch {
    transition: transform 0.2s ease-in;
  }

  input:checked ~ label {
    background: $green-500;
  }

  input:checked ~ label .switch {
    background: $gray-100;
    transform: translatex(15px);
    transition: transform 0.2s ease-in;
  }
}
